:root{
    --pink: #0f7da4;
}

*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}



.heading{
    text-align: center;
    font-size: 4rem;
    color:#333;
    padding:1rem;
    margin:2rem 0;
    background:rgba(255, 51, 153,.05);
}

.heading span{
    color:var(--pink);
}

header{
    position: fixed;
    top:0; left:0; right:0;
    background:#1f1e1e;
    padding:2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo{
    font-size: 3rem;
    color:#efe6e6;
    font-weight: bolder;
}

header .logo span{
    color:var(--pink);
}

header .navbar a{
    font-size: 2rem;
    padding:0 1.5rem;
    color:#666;
}

header .navbar a:hover{
    color:var(--pink);
}

header .icons a{
    font-size: 2.5rem;
    color:#afa7a7;
    margin-left: 1.5rem;
}

header .icons a:hover{
    color:var(--pink);
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color:#fff;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    cursor: pointer;
    border:.1rem solid rgba(0,0,0,.3);
    display: none;
}


.label {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
    line-height: 24px;
    font-family: Poppins;
    color: #585562;
    text-align: left;
}
.label-wrapper {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 36px;
    right: 383px;
    width: 79px;
    height: 24px;
}
  .label-container,
  .label1 {
    position: absolute;
    width: 142px;
  }
  .label1 {
    top: 0;
    left: 0;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    font-family: Poppins;
    color: #151c28;
    text-align: left;
    display: flex;
    align-items: center;
  }
  .label-container {
    top: 37px;
    left: 1104px;
    height: 24px;
  }
  .dashboard1 {
    margin: 0;
    position: absolute;
    top: 36px;
    left: 49px;
    font-size: 20px;
    font-weight: 700;
    font-family: Poppins;
    color: #151c28;
    text-align: left;
  }
  .vector-icon,
  .vector-icon1 {
    position: absolute;
    height: 76.67%;
    width: 76.67%;
    top: 7.5%;
    right: 15.83%;
    bottom: 15.83%;
    left: 7.5%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .vector-icon1 {
    height: 28.13%;
    width: 28.13%;
    top: 64.38%;
    right: 7.5%;
    bottom: 7.5%;
    left: 64.38%;
  }
  .message-square-icon,
  .search {
    width: 20px;
    height: 20px;
    overflow: hidden;
  }
  .search {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: relative;
    flex-shrink: 0;
  }
  .message-square-icon {
    position: absolute;
    top: 6px;
    right: 10px;
  }
  .group-child {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 18px;
    height: 18px;
  }
  .div {
    position: absolute;
    top: 1px;
    left: 6px;
    font-size: 10px;
    font-weight: 500;
    font-family: Poppins;
    color: #fff;
    text-align: center;
  }
  .ellipse-parent {
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    height: 16px;
  }
  .message-square-parent {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: relative;
    width: 30px;
    height: 26px;
    flex-shrink: 0;
  }
  .bell-icon {
    position: absolute;
    top: 6px;
    right: 7px;
    width: 20px;
    height: 20px;
    overflow: hidden;
  }
  .div1 {
    position: absolute;
    top: 1px;
    left: 5px;
    font-size: 10px;
    font-weight: 500;
    font-family: Poppins;
    color: #fff;
    text-align: center;
  }
  .bell-parent {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: relative;
    width: 27px;
    height: 26px;
    flex-shrink: 0;
  }
  .search-parent {
    position: absolute;
    top: 35px;
    right: 502px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
  }

  .live-activity,
  .recent-orders {
    margin: 0;
    position: absolute;
    top: 129px;
    right: 1202px;
    font-size: inherit;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-family: inherit;
  }
  .recent-orders {
    top: 319px;
    right: 1155px;
    font-size: 18px;
  }
  .c-icon,
  .side-menu-child {
    position: absolute;
    top: 36px;
    left: calc(50% - 16px);
    width: 32px;
    height: 32px;
  }
  .c-icon {
    top: 46.32px;
    left: calc(50% - 5.68px);
    width: 11.03px;
    height: 12.06px;
  }
  .group-icon {
    position: absolute;
    height: 100.02%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: -0.02%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .home-icon {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: relative;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    overflow: hidden;
  }
  .vector-icon2 {
    position: absolute;
    height: 83.33%;
    width: 91.67%;
    top: 8.33%;
    right: 4.17%;
    bottom: 8.33%;
    left: 4.17%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .group,
  .group-icon1 {
    position: absolute;
    width: 100%;
    right: 0;
    left: 0;
  }
  .group-icon1 {
    height: 100%;
    top: 0;
    bottom: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .group {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    height: 94.51%;
    top: 2.74%;
    bottom: 2.74%;
  }
  .car-repair-icon {
    position: relative;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    overflow: hidden;
  }
  .vector-icon4 {
    position: absolute;
    height: 5.86%;
    width: 5.86%;
    top: 47.07%;
    right: 47.07%;
    bottom: 47.07%;
    left: 47.07%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .group-icon2,
  .group-icon3,
  .group-icon4,
  .vector-icon5,
  .vector-icon6 {
    position: absolute;
    height: 50.86%;
    width: 52.73%;
    top: 24.57%;
    right: 23.63%;
    bottom: 24.57%;
    left: 23.63%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .group-icon2,
  .group-icon3,
  .group-icon4,
  .vector-icon6 {
    height: 99.54%;
    width: 62.14%;
    top: 0.23%;
    right: 18.94%;
    bottom: 0.23%;
    left: 18.92%;
  }
  .group-icon2,
  .group-icon3,
  .group-icon4 {
    height: 100%;
    width: 95.95%;
    top: 0;
    right: 2.02%;
    bottom: 0;
    left: 2.02%;
  }
  .group-icon3,
  .group-icon4 {
    height: 9.61%;
    width: 9.61%;
    top: 60.57%;
    right: 33.66%;
    bottom: 29.81%;
    left: 56.73%;
  }
  .group-icon4 {
    top: 29.81%;
    right: 56.73%;
    bottom: 60.57%;
    left: 33.66%;
  }
  .home-icon-parent {
    position: absolute;
    top: 132px;
    left: 36px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 56px;
  }
  .side-menu {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #151c28;
    width: 96px;
    height: 1327px;
    overflow: hidden;
  }
  .filter-icon {
    position: relative;
    border-radius: 8px;
    width: 36px;
    height: 36px;
    flex-shrink: 0;
    overflow: hidden;
  }
  .filter-parent {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 321px;
    left: 1180px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
  }

  .parking-search {
    position: absolute;
    top: 36px;
    left: 81px;
    font-size: 14px;
    letter-spacing: 0.01em;
    font-weight: 600;
    font-family: Poppins;
    color: #151c28;
    text-align: left;
    display: inline-block;
    width: 168px;
  }
  .product-requests,
  .product-requests-icon {
    position: absolute;
    top: 27px;
    left: 26px;
    border-radius: 4px;
    width: 32px;
    height: 32px;
    overflow: hidden;
  }
  .product-requests {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: #fff;
    top: 165px;
    left: 152px;
    width: 270px;
    height: 86px;
  }

  .service-requests1 {
    position: absolute;
    top: 33.5px;
    left: 68px;
    font-size: 14px;
    letter-spacing: 0.01em;
    font-weight: 600;
    font-family: Poppins;
    color: #151c28;
    text-align: left;
    display: inline-block;
    width: 168px;
  }
  .service-requests,
  .service-requests-icon {
    position: absolute;
    top: 28px;
    left: 21px;
    border-radius: 4px;
    width: 32px;
    height: 32px;
    overflow: hidden;
  }
  .service-requests {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: #fff;
    top: 165px;
    left: 446px;
    width: 270px;
    height: 86px;
  }
  .emergency-service-requests1 {
    position: absolute;
    top: 25.5px;
    left: 68px;
    font-size: 14px;
    letter-spacing: 0.01em;
    font-weight: 600;
    font-family: Poppins;
    color: #151c28;
    text-align: left;
    display: inline-block;
    width: 168px;
  }
  .emergency-service-requests,
  .emergency-service-requests-ico {
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 4px;
    width: 32px;
    height: 32px;
    overflow: hidden;
  }
  .emergency-service-requests {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: #fff;
    top: 165px;
    left: 740px;
    width: 270px;
    height: 86px;
  }
  .transactions1 {
    position: absolute;
    top: 32.5px;
    left: 68px;
    font-size: 14px;
    letter-spacing: 0.01em;
    font-weight: 600;
    font-family: Poppins;
    color: #151c28;
    text-align: left;
    display: inline-block;
    width: 168px;
  }
  .emergency-service-requests-ico1,
  .transactions {
    position: absolute;
    top: 27px;
    left: 20px;
    border-radius: 4px;
    width: 32px;
    height: 32px;
    overflow: hidden;
  }
  .transactions {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: #fff;
    top: 165px;
    left: 1034px;
    width: 270px;
    height: 86px;
  }
  .customer,
  .location {
    position: absolute;
    top: 30px;
    right: 1066px;
    letter-spacing: 0.02em;
  }
  .location {
    right: 913px;
  }
  .order-details,
  .order-status,
  .order-type,
  .otp-verification,
  .time {
    position: absolute;
    top: 30px;
    right: 351px;
    letter-spacing: 0.02em;
  }
  .order-details,
  .order-status,
  .order-type,
  .time {
    right: 529px;
  }
  .order-details,
  .order-status,
  .time {
    right: 725px;
  }
  .order-status,
  .time {
    right: 189px;
  }
  .time {
    right: 57px;
  }
  .orders-child {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: rgba(71, 121, 204, 0.03);
    position: absolute;
    top: 64px;
    right: 0;
    width: 1152px;
    height: 108px;
  }
  .enter-otp,
  .verify {
    border: 0;
    background-color: transparent;
    position: absolute;
    letter-spacing: 0.02em;
    font-family: Poppins;
    text-align: left;
    display: inline-block;
  }
  .enter-otp {
    height: auto;
    font-size: 10px;
    top: 8px;
    right: 62px;
    color: #717484;
    width: 64px;
  }
  .verify {
    cursor: pointer;
    padding: 0;
    top: 6px;
    right: 8px;
    font-size: 12px;
    font-weight: 500;
    color: rgba(13, 160, 106, 0.7);
  }
  .otp-verification1 {
    position: absolute;
    top: 14px;
    left: 698px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid rgba(189, 193, 201, 0.7);
    box-sizing: border-box;
    width: 134px;
    height: 32px;
    overflow: hidden;
  }
  .group-inner {
    position: absolute;
    top: 83.5px;
    right: -0.5px;
    width: 1137px;
    height: 1px;
  }
  .tom-cruise {
    position: absolute;
    top: 21px;
    right: 987px;
    letter-spacing: 0.02em;
    font-weight: 600;
    color: #151c28;
    display: inline-block;
    width: 130px;
  }
  .rectangle-icon {
    position: absolute;
    top: 23px;
    right: 142px;
    border-radius: 4px;
    width: 33px;
    height: 33px;
    object-fit: cover;
  }
  .dunlop-wheel {
    position: absolute;
    top: 21px;
    right: 0;
    letter-spacing: 0.01em;
    font-weight: 600;
    display: inline-block;
    width: 131px;
  }
  .span {
    font-weight: 500;
  }
  .span1 {
    text-decoration: line-through;
    color: #585562;
  }
  .div2,
  .order-id-290888890 {
    position: absolute;
    top: 42px;
    right: 14px;
    letter-spacing: 0.02em;
    display: inline-block;
    width: 117px;
  }
  .order-id-290888890 {
    top: 0;
    right: 5px;
    font-size: 11px;
    letter-spacing: 0.04em;
    color: #585562;
    width: 171px;
  }
  .rectangle-parent {
    position: absolute;
    top: 0;
    right: 619px;
    width: 176px;
    height: 60px;
    color: #151c28;
  }
  .product {
    position: absolute;
    top: 21px;
    right: 467px;
    display: inline-block;
    width: 120px;
  }
  .just-now,
  .pending,
  .product {
    letter-spacing: 0.02em;
  }
  .just-now {
    position: absolute;
    top: 21px;
    right: 21px;
    text-align: right;
  }
  .pending {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 18px;
    flex-shrink: 0;
  }
  .order-status1 {
    position: absolute;
    top: 13px;
    left: 880px;
    border-radius: 20px;
    background-color: #fff5eb;
    width: 102px;
    height: 34px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
    color: #fb7e15;
  }
  .otp-verification-parent {
    position: absolute;
    top: 88px;
    left: 5px;
    width: 1136px;
    height: 84px;
    color: #585562;
  }
  .otp-verification2 {
    border: 1px solid rgba(189, 193, 201, 0.7);
    font-family: Poppins;
    font-size: 10px;
    background-color: #fff;
    position: absolute;
    top: 14px;
    left: 698px;
    border-radius: 4px;
    box-sizing: border-box;
    width: 134px;
    height: 32px;
    overflow: hidden;
  }
  .eternals-town {
    position: absolute;
    top: 21px;
    right: 827px;
    letter-spacing: 0.02em;
    display: inline-block;
    width: 128px;
  }
  .group-child2 {
    position: absolute;
    top: 23px;
    right: 145px;
    border-radius: 4px;
    width: 33px;
    height: 33px;
    object-fit: cover;
  }
  .battery-replacement {
    position: absolute;
    top: 21px;
    right: 0;
    letter-spacing: 0.01em;
    font-weight: 600;
    display: inline-block;
    width: 134px;
  }
  .div3,
  .order-id-2908888901 {
    position: absolute;
    top: 42px;
    right: 17px;
    letter-spacing: 0.02em;
    display: inline-block;
    width: 117px;
  }
  .order-id-2908888901 {
    top: 0;
    right: 8px;
    font-size: 11px;
    letter-spacing: 0.04em;
    color: #585562;
    width: 171px;
  }
  .rectangle-group {
    position: absolute;
    top: 0;
    right: 616px;
    width: 179px;
    height: 60px;
    color: #151c28;
  }
  .just-now1 {
    margin: 0;
    position: absolute;
    top: 21px;
    right: 21px;
    letter-spacing: 0.02em;
    text-align: right;
  }
  .otp-verification-container,
  .otp-verification-group {
    position: absolute;
    top: 196px;
    left: 5px;
    width: 1136px;
    height: 84px;
    color: #585562;
  }
  .otp-verification-container {
    top: 304px;
  }
  .textarea {
    border: 0;
    background-color: transparent;
    font-family: Poppins;
    font-size: 10px;
    position: absolute;
    top: 8px;
    right: 62px;
    letter-spacing: 0.02em;
    color: #717484;
    text-align: left;
    display: inline-block;
    width: 64px;
  }
  .frame-589group-508 {
    position: absolute;
    top: 6px;
    left: 106px;
    width: 20px;
    height: 20px;
  }
  .irfan-khan,
  .jurassic-world {
    position: absolute;
    top: 21px;
    letter-spacing: 0.02em;
    display: inline-block;
  }
  .irfan-khan {
    right: 987px;
    font-weight: 600;
    width: 130px;
  }
  .jurassic-world {
    right: 827px;
    color: #585562;
    width: 128px;
  }
  .rectangle-parent1 {
    position: absolute;
    top: 0;
    right: 619px;
    width: 176px;
    height: 60px;
  }
  .product1 {
    position: absolute;
    top: 21px;
    right: 467px;
    letter-spacing: 0.02em;
    color: #585562;
    display: inline-block;
    width: 120px;
  }
  .order-status4 {
    position: absolute;
    top: 13px;
    left: 880px;
    border-radius: 20px;
    background-color: #f0fffa;
    width: 102px;
    height: 34px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
    color: #0da06a;
  }
  .group-div {
    position: absolute;
    top: 412px;
    left: 5px;
    width: 1136px;
    height: 84px;
  }
  .today-1030-am {
    position: absolute;
    top: 21px;
    right: 21px;
    letter-spacing: 0.02em;
    color: #717484;
    text-align: right;
  }
  .order-status7,
  .otp-verification-parent1,
  .otp-verification-parent2 {
    position: absolute;
    top: 520px;
    left: 5px;
    width: 1136px;
    height: 84px;
  }
  .order-status7,
  .otp-verification-parent2 {
    top: 628px;
  }
  .order-status7 {
    top: 13px;
    left: 880px;
    border-radius: 20px;
    background-color: #fff5f5;
    width: 102px;
    height: 34px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
    color: #f34a7c;
  }
  .otp-verification-parent3 {
    position: absolute;
    top: 736px;
    left: 5px;
    width: 1136px;
    height: 84px;
  }
  .div9,
  .rows-per-page1 {
    position: absolute;
    right: 33px;
    bottom: 0;
    letter-spacing: 0.3px;
    line-height: 20px;
    display: inline-block;
    width: 114px;
    height: 18px;
  }
  .div9 {
    right: 15px;
    color: #151c28;
    text-align: right;
    width: 10px;
  }
  .icon-dropdown {
    position: absolute;
    right: 0;
    bottom: 3px;
    width: 12px;
    height: 12px;
    overflow: hidden;
  }
  .of-1240,
  .rows-per-page {
    position: absolute;
    right: 232px;
    bottom: 3px;
    width: 147px;
    height: 18px;
  }
  .of-1240 {
    right: 84px;
    letter-spacing: 0.3px;
    line-height: 20px;
    display: inline-block;
    width: 100px;
  }
  .left-icon {
    height: 58.33%;
    width: 33.16%;
    top: 20.83%;
    right: 33.33%;
    bottom: 20.83%;
    left: 33.51%;
    max-width: 100%;
    max-height: 100%;
  }
  .icon-arrow-left,
  .left-icon,
  .right-icon {
    position: absolute;
    overflow: hidden;
  }
  .icon-arrow-left {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    right: 36px;
    bottom: 0;
    width: 24px;
    height: 24px;
  }
  .right-icon {
    height: 58.33%;
    width: 33.16%;
    top: 20.83%;
    right: 33.51%;
    bottom: 20.83%;
    left: 33.33%;
    max-width: 100%;
    max-height: 100%;
  }
  .icon-arrow-right {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    right: 0;
    bottom: 0;
    width: 24px;
    overflow: hidden;
  }
  .icon-arrow-right,
  .pagination,
  .table-bottom {
    position: absolute;
    height: 24px;
  }
  .pagination {
    right: 0;
    bottom: 0;
    width: 184px;
    text-align: right;
  }
  .table-bottom {
    right: 11px;
    bottom: 24px;
    width: 379px;
    font-size: 14px;
    color: #717484;
  }
  .cursor-icon {
    position: absolute;
    top: 163.97px;
    right: 659px;
    width: 16px;
    height: 16.03px;
  }
  .dashboard,
  .orders {
    overflow: hidden;
    text-align: left;
    font-family: Poppins;
  }
  .orders {
    position: absolute;
    top: 383px;
    left: 164px;
    border-radius: 4px;
    background-color: #fff;
    width: 1152px;
    height: 892px;
    font-size: 12px;
    color: #151c28;
  }
  .dashboard {
    position: relative;
    background-color: #f5f6f9;
    width: 100%;
    height: 1327px;
    font-size: 14px;
    color: #585562;
  }
  