.icon-drive-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 1440px;
    height: 1433px;
    object-fit: cover;
  }
  .transparent-rectangle-icon {
    position: absolute;
    height: 4.59%;
    width: 4.51%;
    top: 13.09%;
    right: 26.67%;
    bottom: 82.32%;
    left: 68.82%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .group-child {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    background-color: #12111a;
    box-shadow: 0 0 15px rgba(52, 56, 74, 0.25), 0 2px 7px #000 inset;
    width: 1078px;
    height: 47px;
  }
  .search-location {
    position: absolute;
    top: 12.43px;
    left: 67.81px;
    letter-spacing: -0.3px;
    line-height: 28px;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 283.84px;
    height: 25.31px;
  }
  .rectangle-parent,
  .select-parking-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 1078px;
    height: 47px;
  }
  .select-parking-inner {
    top: 188px;
    left: 130px;
    font-size: 25px;
    color: #9fa7c5;
    font-family: "IBM Plex Sans";
  }
  .select-parking-child {
    position: absolute;
    top: 422px;
    left: 74px;
    border-radius: 5px;
    width: 558px;
    height: 155px;
  }
  .select-parking-item {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: #812828;
    position: absolute;
    top: 532px;
    left: 297px;
    border-radius: 15px;
    width: 259px;
    height: 37px;
  }
  .dlf-mall-noida {
    position: absolute;
    top: 441px;
    left: 300px;
    line-height: 40px;
    font-weight: 500;
    display: inline-block;
    width: 231px;
    height: 18px;
  }
  .rectangle-icon,
  .select-parking-child1 {
    position: absolute;
    top: 814px;
    left: 74px;
    border-radius: 5px;
    width: 558px;
    height: 154px;
  }
  .select-parking-child1 {
    top: 615px;
  }
  .sarojini-nagar-central {
    position: absolute;
    top: 625px;
    left: 300px;
    line-height: 40px;
    font-weight: 500;
    display: inline-block;
    width: 231px;
    height: 33px;
  }
  .rectangle-button {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: #812828;
    position: absolute;
    top: 722px;
    left: 299px;
    border-radius: 15px;
    width: 258px;
    height: 35px;
  }
  .banjara-market {
    position: absolute;
    top: 822px;
    left: 308px;
    line-height: 40px;
    font-weight: 500;
    display: inline-block;
    width: 231px;
    height: 33px;
  }
  .select-parking-child2 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: #812828;
    position: absolute;
    top: 921px;
    left: 308px;
    border-radius: 15px;
    width: 259px;
    height: 35px;
  }
  .book-now,
  .book-now1 {
    position: absolute;
    top: 922px;
    left: 396px;
    line-height: 40px;
    display: inline-block;
    width: 85px;
    height: 31px;
  }
  .book-now1 {
    top: 1094px;
    left: 390px;
    height: 29px;
  }
  .select-parking-child3 {
    position: absolute;
    top: 1012px;
    left: 74px;
    border-radius: 5px;
    width: 558px;
    height: 155px;
  }
  .select-parking-child4 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: #812828;
    position: absolute;
    top: 1118px;
    left: 303px;
    border-radius: 15px;
    width: 259px;
    height: 37px;
  }
  .connaught-place {
    position: absolute;
    top: 1023px;
    left: 299px;
    line-height: 40px;
    font-weight: 500;
    display: inline-block;
    width: 230px;
    height: 33px;
  }
  .book-now2,
  .book-now3,
  .book-now4,
  .book-your-parking {
    position: absolute;
    top: 1122px;
    left: 396px;
    line-height: 40px;
    display: inline-block;
    width: 85px;
    height: 30px;
  }
  .book-now3,
  .book-now4,
  .book-your-parking {
    top: 721px;
    left: 390px;
  }
  .book-now4,
  .book-your-parking {
    top: 531px;
    height: 31px;
  }
  .book-your-parking {
    top: 479px;
    left: 299px;
    line-height: 20px;
    width: 299px;
    height: 33px;
  }
  .book-your-parking1,
  .book-your-parking2,
  .book-your-parking3 {
    position: absolute;
    top: 664px;
    left: 300px;
    line-height: 20px;
    display: inline-block;
    width: 316px;
    height: 32px;
  }
  .book-your-parking2,
  .book-your-parking3 {
    top: 860px;
    left: 308px;
    width: 308px;
    height: 33px;
  }
  .book-your-parking3 {
    top: 1060px;
    left: 300px;
    width: 298px;
    height: 32px;
  }
  .p1-1-icon,
  .p2-1-icon,
  .p3-1-icon,
  .p4-1-icon {
    position: absolute;
    top: 426px;
    left: 71px;
    width: 205px;
    height: 151px;
    object-fit: cover;
  }
  .p2-1-icon,
  .p3-1-icon,
  .p4-1-icon {
    top: 610px;
    height: 159px;
  }
  .p3-1-icon,
  .p4-1-icon {
    top: 819px;
    left: 74px;
    width: 202px;
    height: 149px;
  }
  .p4-1-icon {
    top: 1012px;
    height: 155px;
  }
  .rectangle-div {
    position: absolute;
    top: 188px;
    left: 1208px;
    border-radius: 10px;
    background: linear-gradient(118.79deg, #ff4d26, #f4691a);
    box-shadow: -3px -3px 7px rgba(10, 16, 46, 0.25), 0 2px 7px #09123f inset;
    width: 110px;
    height: 47px;
  }
  .select-parking-child5 {
    position: absolute;
    top: 422px;
    left: 734px;
    width: 626px;
    height: 745px;
    object-fit: cover;
  }
  .group-icon {
    position: absolute;
    top: 618.81px;
    left: 891.89px;
    width: 233.34px;
    height: 140.5px;
  }
  .select-parking-child6,
  .vector-icon {
    position: absolute;
    top: 749.25px;
    left: 880.8px;
    width: 39.13px;
    height: 47.5px;
  }
  .vector-icon {
    height: 2.86%;
    width: 2.01%;
    top: 46.17%;
    right: 25.76%;
    bottom: 50.97%;
    left: 72.22%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .search-by-pin-point,
  .search-by-relevance {
    position: absolute;
    top: 335px;
    left: 68px;
    font-size: 25px;
    letter-spacing: -0.3px;
    line-height: 28px;
    font-weight: 500;
    font-family: "IBM Plex Sans";
    display: flex;
    align-items: center;
    width: 414px;
    height: 50px;
  }
  .search-by-pin-point {
    left: 737px;
  }
  .line-div {
    position: absolute;
    top: 295.5px;
    left: 673.5px;
    border-right: 1px solid #fff;
    box-sizing: border-box;
    width: 1px;
    height: 937px;
  }
  .select-parking-child7 {
    position: absolute;
    top: 427px;
    left: 734px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.63);
    width: 626px;
    height: 741px;
    mix-blend-mode: overlay;
  }
  .select-parking {
    position: relative;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 1293px;
    overflow: hidden;
    text-align: left;
    font-size: 16px;
    color: #fff;
    font-family: Poppins;
  }
  